$color-background: hsl(152, 100%, 3%);
$color-primary: hsl(182, 33%, 16%);
$color-primary-light: hsl(185 17% 61%);
$color-primary-light-hover: hsl(185, 17%, 72%);
$color-secondary: hsl(10, 4%, 29%);
$color-light: hsl(142, 100%, 98%);
$separation: 1.5rem;
