$color-background: hsl(152, 100%, 3%);
$color-primary: hsl(182, 33%, 16%);
$color-primary-light: hsl(185, 17%, 61%);
$color-secondary: hsl(10, 4%, 29%);
$color-light: hsl(142, 100%, 98%);

.primary-btn {
  background: none;
  border: none;
  cursor: pointer;
  border: 1px solid $color-primary;
  border-radius: 4px;
  width: 100%;
  max-width: 380px;
  height: 40px;
  background-color: $color-primary-light;
  color: $color-background;
  transition: 0.6s background-color ease;
  &:hover {
    background-color: $color-light;
  }
}
